#DEBUG CONFIGS
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_LOG_BUF_SHIFT=18
CONFIG_PM_ADVANCED_DEBUG=y
CONFIG_PM_DEBUG=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_UBSAN=y
CONFIG_DEBUG_MUTEX=y
CONFIG_TEGRA_HV_XHCI_DEBUG=y
CONFIG_TEGRA_PM_DEBUG=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_DEBUG_EFI=y
CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=y
CONFIG_CORESIGHT_SOURCE_ETM4X=y
CONFIG_CORESIGHT_STM=y
CONFIG_FAULT_INJECTION=y
CONFIG_MEMTEST=y
CONFIG_PM_DEBUG=y
CONFIG_STM=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_STM_PROTO_SYS_T=y
CONFIG_STM_SOURCE_CONSOLE=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_STRICT_DEVMEM=n
CONFIG_PTDUMP_DEBUGFS=y
CONFIG_RANDOMIZE_BASE=n
CONFIG_GCC_PLUGIN_STRUCTLEAK_BYREF_ALL=y
CONFIG_GCC_PLUGIN_STACKLEAK=y
CONFIG_DEBUG_LIST=y
CONFIG_DEBUG_SG=y
CONFIG_DEBUG_NOTIFIERS=y
