/*
 * tegra194-super-module-e2614.dtsi DTSI file.
 *
 * Copyright (c) 2019-2020, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include <t19x-common-modules/tegra194-super-module-e2614.dtsi>

/ {
	i2c@31e0000 {
		i2cmux@70 {
			i2c@3 {
				rt5659.12-001a@1a {
					/* Codec IRQ output */
					interrupt-parent = <&tegra_main_gpio>;
					interrupts = <TEGRA194_MAIN_GPIO(Y, 0) GPIO_ACTIVE_HIGH>;
				};
			};
		};

		rt5659.1-001a@1a {
			/* Codec IRQ output */
			interrupt-parent = <&tegra_main_gpio>;
			interrupts = <TEGRA194_MAIN_GPIO(Y, 0) GPIO_ACTIVE_HIGH>;
		};
	};

	plugin-manager {
		fragment-e2614-common@0 {
			overrides@10 {
				target = <&tegra_sound>;
				_overlay_ {
					nvidia-audio-card,widgets =
						"Headphone",	"H40-RT Headphone",
						"Microphone",	"H40-RT Mic",
						"Headphone",	"H40-TAS-R Headphone",
						"Headphone",	"H40-TAS-L Headphone";

					nvidia-audio-card,routing =
						"H40-RT Headphone",	"H40-RT HPO L Playback",
						"H40-RT Headphone",	"H40-RT HPO R Playback",
						"H40-RT IN1P",		"H40-RT Mic",
						"H40-TAS-R Headphone",	"H40-TAS-R OUT",
						"H40-TAS-L Headphone",	"H40-TAS-L OUT";
				};
			};
		};
	};
};
