/*
 * tegra186-p3636-0001-common.dtsi : Lanai common dtsi.
 *
 * Copyright (c) 2020-2021, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include <dt-bindings/types.h>
#include <dt-bindings/gpio/tegra186-gpio.h>
#include <dt-bindings/audio/tegra186-audio.h>
/dts-v1/;

/memreserve/ 0x80000000 0x00010000;

#include <tegra186-soc/tegra186-soc-cvm.dtsi>
#include <tegra186-soc/mods-simple-bus.dtsi>
#include <t18x-common-platforms/tegra186-platforms-simple-bus.dtsi>
#include "t18x-common-platforms/tegra186-thermal-userspace-alert.dtsi"
#include "tegra186-p3636-0001-a00-disp.dtsi"
#include "tegra186-p3636-0001-a00-powermon.dtsi"
#include "tegra186-p3636-0001-a00-power-tree.dtsi"
#include "tegra186-p3636-0001-a00-pwm-fan.dtsi"
#include "tegra186-p3636-0001-a00-thermal-fan-est.dtsi"
#include "tegra186-p3636-0001-a00-eqos.dtsi"
#include "tegra186-p3636-0001-a00-audio.dtsi"
#include "tegra186-p3636-0001-a00-thermal.dtsi"
#include "tegra186-p3636-plugin-manager.dtsi"
#include "tegra186-p3636-0001-a00-comms.dtsi"

#define EXTCON_NONE		0
#define EXTCON_USB		1
#define EXTCON_USB_Host		2

/ {
        model = "lanai-3636";
        compatible = "nvidia,lanai-3636", "nvidia,tegra186";

        #address-cells = <2>;
        #size-cells = <2>;

	serial@3100000 {
		compatible = "nvidia,tegra20-uart", "nvidia,tegra186-hsuart";
		console-port;
		sqa-automation-port;
		/delete-property/ resets;
		/delete-property/ reset-names;
		status = "okay";
	};

	serial@3110000 {
		compatible = "nvidia,tegra186-hsuart";
		status = "okay";
	};

	serial@c280000 {
		status = "disabled";
	};

	serial@3130000 {
		compatible = "nvidia,tegra186-hsuart";
		dma-names = "tx";
		status = "okay";
	};

	/* gen8-i2c - ID EEPROM */
	i2c@c250000 {
		status="okay";
	};

	vi-bypass@15700000{
		compatible = "nvidia,tegra186-vi-bypass";
		status = "okay";
	};

	tachometer@39c0000 {
		status = "okay";
	};

	generic_pwm_tachometer {
		pwms = <&tegra_tachometer 0 1000000>;
		status = "okay";
	};

	pmc@c360000 {
		nvidia,restrict-voltage-switch;
		iopad-defaults {
			sdmmc-io-pads {
				pins = "sdmmc1-hv", "sdmmc2-hv", "sdmmc3-hv";
				nvidia,enable-voltage-switching;
			};
		};
	};

	pmc@c370000 {
		nvidia,invert-interrupt;
	};

	spi@3210000 { /* SPI 1 to 40 pin header */
		status = "okay";
		spi@0 {
			compatible = "tegra-spidev";
			reg = <0x0>;
			spi-max-frequency = <33000000>;
			controller-data {
				nvidia,enable-hw-based-cs;
				nvidia,rx-clk-tap-delay = <0x8>;
				nvidia,tx-clk-tap-delay = <0x16>;
			};
		};
		spi@1 {
			compatible = "tegra-spidev";
			reg = <0x1>;
			spi-max-frequency = <33000000>;
			controller-data {
				nvidia,enable-hw-based-cs;
				nvidia,rx-clk-tap-delay = <0x8>;
				nvidia,tx-clk-tap-delay = <0x16>;
			};
		};
	};

	spi@c260000 { /* SPI 2 to 40 pin header */
		status = "okay";
		spi@0 {
			compatible = "tegra-spidev";
			reg = <0x0>;
			spi-max-frequency = <33000000>;
			controller-data {
				nvidia,enable-hw-based-cs;
			};
		};
		spi@1 {
			compatible = "tegra-spidev";
			reg = <0x1>;
			spi-max-frequency = <33000000>;
			controller-data {
				nvidia,enable-hw-based-cs;
			};
		};
	};

	external-connection {
		vbus_id_extcon: extcon@1 {
			compatible = "extcon-gpio-states";
			reg = <0x1>;
			extcon-gpio,name = "VBUS";
			extcon-gpio,wait-for-gpio-scan = <0>;
			extcon-gpio,cable-states = <
						    0x0 0x1
						    0x1 0x0>;
			gpios = <&tegra_main_gpio TEGRA_MAIN_GPIO(L, 4) 0>;
			extcon-gpio,out-cable-names = <EXTCON_USB EXTCON_USB_Host EXTCON_NONE>;
			wakeup-source;
			#extcon-cells = <1>;
		};
	};

	/* eMMC */
	sdhci@3460000 {
		uhs-mask = <0x0>; /*enable HS400 mode*/
		nvidia,enable-strobe-mode;
		nvidia,en-periodic-cflush;
		nvidia,periodic-cflush-to = <100>;
		nvidia,enable-hwcq;
		mmc-hs400-enhanced-strobe;
		status = "okay";
	};

	pwm@3280000 {
		status = "okay";
	};

	pwm@3290000 {
		status = "okay";
	};

	pwm@32a0000 {
		status = "okay";
	};

	pwm@c340000 {
		status = "okay";
	};

	soft_wdt:soft_watchdog {
		compatible = "softdog-platform";
		status = "okay";
	};

	mailbox@3538000 {
		status = "okay";
	};

	xudc@3550000 {
		extcon-cables = <&vbus_id_extcon 0>;
		extcon-cable-names = "vbus";
		#extcon-cells = <1>;
		emc-frequency = <100000000>;
	};

	xhci@3530000 {
		extcon-cables = <&vbus_id_extcon 1>;
		extcon-cable-names = "id";
		#extcon-cells = <1>;
	};

	bwmgr {
		status = "okay";
	};

	tegra-hsp@3c00000 {
		status = "okay";
	};

	tegra-hsp@b150000 {
		status = "okay";
	};

	rtcpu@b000000 {
		status = "okay";
	};

	nvdumper {
		status = "disabled";
	};

	bcpu_alert: bcpu-throttle-alert {
		status = "okay";
	};

	mcpu_alert: mcpu-throttle-alert {
		status = "okay";
	};

	gpu_alert: gpu-throttle-alert {
		status = "okay";
	};

	mipical {
		status="okay";
	};
};

