if BLK_DEV

config TEGRA_HV_BLKDEV
	bool "Tegra Virtual Block I/O Device"
	depends on BLK_DEV && TEGRA_HV_MANAGER
	default n

endif # BLK_DEV

config TEGRA_HV_BLKDEV_OOPS
	bool "Tegra Virtual Block I/O Driver for OOPS partition"
	depends on BLK_DEV && PSTORE && TEGRA_HV_MANAGER
	select PSTORE_ZONE
	default n
