/*
 * Copyright (c) 2022, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

// Panel: Innolux C-1 DPHY 1080x1920 with compression enabled, connected to E3616, part No. FN21AY-C1

#include <dt-bindings/display/tegra-dc.h>
#include <dt-bindings/display/tegra-panel.h>
#include "dt-bindings/gpio/tegra234-gpio.h"

/ {
	display@13800000 {
		nvidia,backlight-name = "pwm-backlight"; // Should match bl-name property in lp8556 node.
		dsi {
			status = "okay";
			nvidia,active-panel = <&panel_i_c1_lcd>;
			panel_i_c1_lcd: panel-i-c1-lcd {
				status = "okay";
				compatible = "innolux,c1-lcd";
				nvidia,dsi-instance = <DSI_INSTANCE_0>;
				nvidia,dsi-n-data-lanes = <4>;
				nvidia,dsi-pixel-format = <TEGRA_DSI_PIXEL_FORMAT_24BIT_P>;
				nvidia,dsi-refresh-rate = <60>;
				nvidia,dsi-phy-type = <DSI_DPHY>; //DPHY = 0, CPHY = 1
				nvidia,dsi-video-data-type = <0>; //DSI_VIDEO_NON_BURST_MODE
				nvidia,dsi-video-clock-mode = <1>; // TX_ONLY
				nvidia,dsi-video-burst-mode = <0>;
				nvidia,dsi-virtual-channel = <TEGRA_DSI_VIRTUAL_CHANNEL_0>;
				nvidia,dsi-panel-reset = <TEGRA_DSI_ENABLE>;
				nvidia,dsi-power-saving-suspend = <TEGRA_DSI_ENABLE>;
				nvidia,dsi-ulpm-not-support = <TEGRA_DSI_ENABLE>;
				nvidia,set-max-dsi-timeout;
				nvidia,use-legacy-dphy-core;
				nvidia,enable-link-compression;
				nvidia,comp-rate = <TEGRA_DSI_PIXEL_FORMAT_8BIT_DSC>;
				nvidia,num-of-slices = <2>;
				nvidia,slice-height = <32>;
				nvidia,dsi-init-cmd =
					/* Long  Packet: <PACKETTYPE[u8] COMMANDID[u8] PAYLOADCOUNT[u16] ECC[u8] PAYLOAD[..] CHECKSUM[u16]> */
					/* Short Packet: <PACKETTYPE[u8] COMMANDID[u8] DATA0[u8] DATA1[u8] ECC[u8]> */
					/* For DSI packets each DT cell is interpreted as u8 not u32 */

					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_1_PARAM 0xFF 0x25 0x0>,
					<TEGRA_DSI_DELAY_MS 10>, //Required 5ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_1_PARAM 0xFB 0x01 0x0>,
					<TEGRA_DSI_DELAY_MS 10>, //Required 0ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_1_PARAM 0x18 0x21 0x0>,
					<TEGRA_DSI_DELAY_MS 10>, //Required 0ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_1_PARAM 0xFF 0xE0 0x0>,
					<TEGRA_DSI_DELAY_MS 10>, //Required 5ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_1_PARAM 0xFB 0x01 0x0>,
					<TEGRA_DSI_DELAY_MS 10>, //Required 0ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_1_PARAM 0x35 0x82 0x0>,
					<TEGRA_DSI_DELAY_MS 10>, //Required 0ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_1_PARAM 0xFF 0xF0 0x0>,
					<TEGRA_DSI_DELAY_MS 10>, //Required 5ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_1_PARAM 0xFB 0x01 0x0>,
					<TEGRA_DSI_DELAY_MS 10>, //Required 0ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_1_PARAM 0x5A 0x00 0x0>,
					<TEGRA_DSI_DELAY_MS 10>, //Required 0ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_1_PARAM 0xFF 0x10 0x0>,
					<TEGRA_DSI_DELAY_MS 10>, //Required 5ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_1_PARAM 0xFB 0x01 0x0>,
					<TEGRA_DSI_DELAY_MS 10>, //Required 0ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_1_PARAM 0x36 0x02 0x0>,
					<TEGRA_DSI_DELAY_MS 10>, //Required 0ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_1_PARAM 0xB0 0x00 0x0>,
					<TEGRA_DSI_DELAY_MS 10>, //Required 0ms
					// Don't set 24-BPP RAW format, let it be 3:1 compression mode
					// <TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_1_PARAM 0xC0 0x00 0x0>,
					// <TEGRA_DSI_DELAY_MS 10>, //Required 0ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_0_PARAM DSI_DCS_EXIT_SLEEP_MODE 0x0 0x0>,
					<TEGRA_DSI_DELAY_MS 120>, //Required 120ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_0_PARAM DSI_DCS_SET_DISPLAY_ON 0x0 0x0>,
					<TEGRA_DSI_DELAY_MS 100>; //Required 40ms
				nvidia,dsi-n-init-cmd = <30>;
				nvidia,dsi-suspend-cmd =
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_0_PARAM DSI_DCS_SET_DISPLAY_OFF 0x0 0x0>,
					<TEGRA_DSI_DELAY_MS 120>, //Required 120ms
					<TEGRA_DSI_PACKET_CMD DSI_DCS_WRITE_0_PARAM DSI_DCS_ENTER_SLEEP_MODE 0x0 0x0>,
					<TEGRA_DSI_DELAY_MS 10>; //Required 0ms
				nvidia,dsi-n-suspend-cmd = <4>;
				nvidia,panel-rst-gpio = <&tegra_aon_gpio TEGRA234_AON_GPIO(CC, 3) GPIO_ACTIVE_HIGH>; // CAM_INT4
				nvidia,avdd-avee-en-gpio = <&tegra_main_gpio TEGRA234_MAIN_GPIO(AC, 0) GPIO_ACTIVE_HIGH>; // CAM1_PWDN
				nvidia,vdd-1v8-lcd-en-gpio = <&tegra_main_gpio TEGRA234_MAIN_GPIO(H, 1) GPIO_ACTIVE_HIGH>; // CAM_ERROR2
				nvidia,panel-timings = <&panel_i_c1_lcd_timings>;
				display-timings {
					panel_i_c1_lcd_timings: 1080-1920-60Hz {
						clock-frequency = <146400000>;
						hactive = <1080>;
						vactive = <1920>;
						hfront-porch = <76>;
						hback-porch = <56>;
						hsync-len = <12>;
						vfront-porch = <54>;
						vback-porch = <10>;
						vsync-len = <10>;
					};
				};
			};
		};
	};

	i2c@3180000 { //gen-3 i2c or cam i2c
		status = "okay";
		lp8556_backlight: lp8556-backlight-t-lcd-7-0@2c {
			status = "okay";
			compatible = "ti,lp8556";
			reg = <0x2C>;

			bl-name = "pwm-backlight";
			// init-brt = /bits/ 8 <0xFF>; /* Max brightness */
			init-brt = /bits/ 8 <0x7D>; /* Half brightness */
			dev-ctrl = /bits/ 8 <0x80>; /* PWM, enable standby mode */
			pwm-period = <59424>;

			pwm-names = "lp8556";
			pwms = <&tegra_pwm8 0 59424>; /* tegra_pwm8 = CAM_BACKLIGHT_PWM */
			skip-i2c-configuration;

			bl-measured = < 0 1 2 3 4 5 5 6
					7 8 9 10 11 11 12 13
					14 15 15 16 17 18 19 20
					21 22 22 23 24 25 26 27
					28 29 30 31 31 32 33 34
					35 36 37 37 38 39 40 41
					41 42 43 44 45 46 47 48
					48 49 50 51 52 53 54 54
					55 56 57 58 58 59 60 61
					62 63 64 65 66 67 68 69
					70 71 72 73 74 75 75 76
					77 78 79 80 81 82 83 84
					85 86 87 88 89 90 91 92
					93 94 94 95 96 97 98 99
					100 101 102 104 105 106 107 108
					109 110 111 112 113 114 115 116
					117 118 119 120 121 122 123 125
					126 127 128 129 130 131 132 133
					134 135 136 137 138 139 140 141
					142 143 144 146 147 148 149 150
					151 152 153 154 155 156 157 158
					159 160 161 162 163 164 165 167
					168 169 170 171 172 173 174 175
					176 178 179 180 181 182 183 184
					185 186 187 188 189 190 191 192
					193 194 195 196 197 199 200 201
					202 203 204 205 206 207 208 210
					211 212 213 214 215 216 217 219
					220 221 222 223 225 226 227 228
					229 230 231 233 234 235 236 237
					238 239 240 241 242 244 245 246
					247 248 249 250 251 253 254 255 >;
		};
	};
};
