if HAS_IOMEM

config MFD_TMPM32X_I2C
	tristate
	depends on I2C
	depends on OF
	select MFD_CORE

config MFD_NVVRS_PSEQ
	bool "Nvidia's Voltage Regulator Specification Power Sequencer"
	depends on I2C=y
	depends on OF || COMPILE_TEST
	select MFD_CORE
	select REGMAP_I2C
	select REGMAP_IRQ
	select IRQ_DOMAIN
	help
		Say yes here to add support for Voltage Regulator Specification based
		Power Sequencer having child device node RTC. This driver provides common
		support for accessing the device; additional drivers must be enabled in
		order to use the functionality of the device.
endif
