if PWM
config PWM_TEGRA_TACHOMETER
	tristate "NVIDIA Tegra Tachometer PWM driver "
	depends on ARCH_TEGRA
	help
	  NVIDIA Tegra Tachometer reads the PWM signal and reports the PWM
	  signal periods. This helps in measuign the fan speed where Fan
	  output for speed is PWM signal.

	  This driver support the Tachometer driver in PWM framework.

config PWM_TEGRA_DFLL
	tristate "NVIDIA Tegra DFLL PWM support"
	depends on ARCH_TEGRA
	help
	  PWM driver support for the Tegra DFLL module found on NVIDIA
	  Tegra SoCs.

	  To compile this driver as a module, choose M here: the module
	  will be called pwm-tegra-dfll.
endif
