// NOTE: Overrides for non-carveout properties that are common across
// platforms MUST be added below.
McSidStreamidSecurityConfigPtcr = <0x00010001>;
McSidStreamidSecurityConfigMiu7r = <0x00010001>;
McSidStreamidSecurityConfigMiu7w = <0x00010001>;
McSidStreamidSecurityConfigMiu8r = <0x00010001>;
McSidStreamidSecurityConfigMiu8w = <0x00010001>;
McSidStreamidSecurityConfigMiu9r = <0x00010001>;
McSidStreamidSecurityConfigMiu9w = <0x00010001>;
McSidStreamidSecurityConfigMiu10r = <0x00010001>;
McSidStreamidSecurityConfigMiu10w = <0x00010001>;
McSidStreamidSecurityConfigMiu11r = <0x00010001>;
McSidStreamidSecurityConfigMiu11w = <0x00010001>;
McSidStreamidSecurityConfigMiu12r = <0x00010001>;
McSidStreamidSecurityConfigMiu12w = <0x00010001>;
McSidStreamidSecurityConfigMiu13r = <0x00010001>;
McSidStreamidSecurityConfigMiu13w = <0x00010001>;
McSidStreamidSecurityConfigHdar = <0x00010101>;
McSidStreamidOverrideConfigHdar = <0x00000003>;
McSidStreamidSecurityConfigHost1xdmar = <0x00010001>;
McSidStreamidSecurityConfigNvencsrd = <0x00010001>;
McSidStreamidSecurityConfigMpcorer = <0x00010001>;
McSidStreamidSecurityConfigPcie6ar = <0x00010101>;
McSidStreamidOverrideConfigPcie6ar = <0x00000015>;
McSidStreamidSecurityConfigPcie6aw = <0x00010101>;
McSidStreamidOverrideConfigPcie6aw = <0x00000015>;
McSidStreamidSecurityConfigPcie7ar = <0x00010101>;
McSidStreamidOverrideConfigPcie7ar = <0x00000008>;
McSidStreamidSecurityConfigNvencswr = <0x00010001>;
McSidStreamidSecurityConfigDla0rdb = <0x00010001>;
McSidStreamidSecurityConfigDla0rdb1 = <0x00010001>;
McSidStreamidSecurityConfigDla0wrb = <0x00010001>;
McSidStreamidSecurityConfigDla1rdb = <0x00010001>;
McSidStreamidSecurityConfigPcie7aw = <0x00010101>;
McSidStreamidOverrideConfigPcie7aw = <0x00000008>;
McSidStreamidSecurityConfigPcie8ar = <0x00010101>;
McSidStreamidOverrideConfigPcie8ar = <0x00000009>;
McSidStreamidSecurityConfigPscr = <0x00010001>;
McSidStreamidSecurityConfigPscw = <0x00010001>;
McSidStreamidSecurityConfigHdaw = <0x00010101>;
McSidStreamidOverrideConfigHdaw = <0x00000003>;
McSidStreamidSecurityConfigMpcorew = <0x00010001>;
McSidStreamidSecurityConfigOfar1 = <0x00010001>;
McSidStreamidSecurityConfigPcie8aw = <0x00010101>;
McSidStreamidOverrideConfigPcie8aw = <0x00000009>;
McSidStreamidSecurityConfigPcie9ar = <0x00010101>;
McSidStreamidOverrideConfigPcie9ar = <0x0000001f>;
McSidStreamidSecurityConfigPcie6ar1 = <0x00010101>;
McSidStreamidOverrideConfigPcie6ar1 = <0x00000015>;
McSidStreamidSecurityConfigPcie9aw = <0x00010101>;
McSidStreamidOverrideConfigPcie9aw = <0x0000001f>;
McSidStreamidSecurityConfigPcie10ar = <0x00010101>;
McSidStreamidOverrideConfigPcie10ar = <0x0000000b>;
McSidStreamidSecurityConfigPcie10aw = <0x00010101>;
McSidStreamidOverrideConfigPcie10aw = <0x0000000b>;
McSidStreamidSecurityConfigIspra = <0x00010001>;
McSidStreamidSecurityConfigIspfalr = <0x00010001>;
McSidStreamidSecurityConfigIspwa = <0x00010001>;
McSidStreamidSecurityConfigIspwb = <0x00010001>;
McSidStreamidSecurityConfigPcie10ar1 = <0x00010101>;
McSidStreamidOverrideConfigPcie10ar1 = <0x0000000b>;
McSidStreamidSecurityConfigPcie7ar1 = <0x00010101>;
McSidStreamidOverrideConfigPcie7ar1 = <0x00000008>;
McSidStreamidSecurityConfigXusb_hostr = <0x00010001>;
McSidStreamidSecurityConfigXusb_hostw = <0x00010001>;
McSidStreamidSecurityConfigXusb_devr = <0x00010001>;
McSidStreamidSecurityConfigXusb_devw = <0x00010001>;
McSidStreamidSecurityConfigTsecsrd = <0x00010001>;
McSidStreamidSecurityConfigTsecswr = <0x00010001>;
McSidStreamidSecurityConfigXspi1w = <0x00010101>;
McSidStreamidOverrideConfigXspi1w = <0x0000000d>;
McSidStreamidSecurityConfigMgbeard = <0x00010001>;
McSidStreamidSecurityConfigMgbebrd = <0x00010001>;
McSidStreamidSecurityConfigMgbecrd = <0x00010001>;
McSidStreamidSecurityConfigMgbedrd = <0x00010001>;
McSidStreamidSecurityConfigMgbeawr = <0x00010001>;
McSidStreamidSecurityConfigOfar = <0x00010001>;
McSidStreamidSecurityConfigOfaw = <0x00010001>;
McSidStreamidSecurityConfigMgbebwr = <0x00010001>;
McSidStreamidSecurityConfigSdmmcra = <0x00010101>;
McSidStreamidOverrideConfigSdmmcra = <0x00000001>;
McSidStreamidSecurityConfigMgbecwr = <0x00010001>;
McSidStreamidSecurityConfigSdmmcrab = <0x00010101>;
McSidStreamidOverrideConfigSdmmcrab = <0x00000002>;
McSidStreamidSecurityConfigSdmmcwa = <0x00010101>;
McSidStreamidOverrideConfigSdmmcwa = <0x00000001>;
McSidStreamidSecurityConfigMgbedwr = <0x00010001>;
McSidStreamidSecurityConfigSdmmcwab = <0x00010101>;
McSidStreamidOverrideConfigSdmmcwab = <0x00000002>;
McSidStreamidSecurityConfigSeu1rd = <0x00010001>;
McSidStreamidSecurityConfigSeu1wr = <0x00010001>;
McSidStreamidSecurityConfigDcer = <0x00010001>;
McSidStreamidSecurityConfigDcew = <0x00010001>;
McSidStreamidSecurityConfigVicsrd = <0x00010001>;
McSidStreamidSecurityConfigVicswr = <0x00010001>;
McSidStreamidSecurityConfigDla1rdb1 = <0x00010001>;
McSidStreamidSecurityConfigDla1wrb = <0x00010001>;
McSidStreamidSecurityConfigVi2w = <0x00010101>;
McSidStreamidOverrideConfigVi2w = <0x7f>;
McSidStreamidSecurityConfigVi2falr = <0x00010001>;
McSidStreamidSecurityConfigViw = <0x00010101>;
McSidStreamidOverrideConfigViw = <0x7f>;
McSidStreamidSecurityConfigNvdispnisor = <0x00010101>;
McSidStreamidOverrideConfigNvdispnisor = <0x00000007>;
McSidStreamidSecurityConfigNvdispnisow = <0x00010101>;
McSidStreamidOverrideConfigNvdispnisow = <0x00000007>;
McSidStreamidSecurityConfigXspi0r = <0x00010101>;
McSidStreamidOverrideConfigXspi0r = <0x0000000c>;
McSidStreamidSecurityConfigXspi0w = <0x00010101>;
McSidStreamidOverrideConfigXspi0w = <0x0000000c>;
McSidStreamidSecurityConfigXspi1r = <0x00010101>;
McSidStreamidOverrideConfigXspi1r = <0x0000000d>;
McSidStreamidSecurityConfigNvdecsrd = <0x00010001>;
McSidStreamidSecurityConfigNvdecswr = <0x00010001>;
McSidStreamidSecurityConfigAper = <0x00010001>;
McSidStreamidSecurityConfigApew = <0x00010001>;
McSidStreamidSecurityConfigVi2falw = <0x00010001>;
McSidStreamidSecurityConfigNvjpgsrd = <0x00010001>;
McSidStreamidSecurityConfigNvjpgswr = <0x00010001>;
McSidStreamidSecurityConfigSesrd = <0x00010001>;
McSidStreamidSecurityConfigSeswr = <0x00010001>;
McSidStreamidSecurityConfigAxiapr = <0x00010001>;
McSidStreamidSecurityConfigAxiapw = <0x00010001>;
McSidStreamidSecurityConfigEtrr = <0x00010001>;
McSidStreamidSecurityConfigEtrw = <0x00010001>;
McSidStreamidSecurityConfigDcedmar = <0x00010001>;
McSidStreamidSecurityConfigDcedmaw = <0x00010001>;
McSidStreamidSecurityConfigAxisr = <0x00010001>;
McSidStreamidSecurityConfigAxisw = <0x00010001>;
McSidStreamidSecurityConfigEqosr = <0x00010001>;
McSidStreamidSecurityConfigEqosw = <0x00010001>;
McSidStreamidSecurityConfigUfshcr = <0x00010101>;
McSidStreamidOverrideConfigUfshcr = <0x0000000c>;
McSidStreamidSecurityConfigUfshcw = <0x00010101>;
McSidStreamidOverrideConfigUfshcw = <0x0000000c>;
McSidStreamidSecurityConfigNvdisplayr = <0x00010101>;
McSidStreamidOverrideConfigNvdisplayr = <0x00000001>;
McSidStreamidSecurityConfigBpmpr = <0x00010001>;
McSidStreamidSecurityConfigBpmpw = <0x00010001>;
McSidStreamidSecurityConfigBpmpdmar = <0x00010001>;
McSidStreamidSecurityConfigBpmpdmaw = <0x00010001>;
McSidStreamidSecurityConfigAonr = <0x00010001>;
McSidStreamidSecurityConfigAonw = <0x00010001>;
McSidStreamidSecurityConfigAondmar = <0x00010001>;
McSidStreamidSecurityConfigAondmaw = <0x00010001>;
McSidStreamidSecurityConfigScer = <0x00010001>;
McSidStreamidSecurityConfigScew = <0x00010001>;
McSidStreamidSecurityConfigScedmar = <0x00010001>;
McSidStreamidSecurityConfigScedmaw = <0x00010001>;
McSidStreamidSecurityConfigApedmar = <0x00010001>;
McSidStreamidSecurityConfigApedmaw = <0x00010001>;
McSidStreamidSecurityConfigNvdisplayr1 = <0x00010101>;
McSidStreamidOverrideConfigNvdisplayr1 = <0x00000001>;
McSidStreamidSecurityConfigVicsrd1 = <0x00010001>;
McSidStreamidSecurityConfigMiu0r = <0x00010001>;
McSidStreamidSecurityConfigMiu0w = <0x00010001>;
McSidStreamidSecurityConfigMiu1r = <0x00010001>;
McSidStreamidSecurityConfigMiu1w = <0x00010001>;
McSidStreamidSecurityConfigMiu2r = <0x00010001>;
McSidStreamidSecurityConfigMiu2w = <0x00010001>;
McSidStreamidSecurityConfigMiu3r = <0x00010001>;
McSidStreamidSecurityConfigMiu3w = <0x00010001>;
McSidStreamidSecurityConfigMiu4r = <0x00010001>;
McSidStreamidSecurityConfigMiu4w = <0x00010001>;
McSidStreamidSecurityConfigVifalr = <0x00010001>;
McSidStreamidSecurityConfigVifalw = <0x00010001>;
McSidStreamidSecurityConfigDla0rda = <0x00010001>;
McSidStreamidSecurityConfigDla0falrdb = <0x00010001>;
McSidStreamidSecurityConfigDla0wra = <0x00010001>;
McSidStreamidSecurityConfigDla0falwrb = <0x00010001>;
McSidStreamidSecurityConfigDla1rda = <0x00010001>;
McSidStreamidSecurityConfigDla1falrdb = <0x00010001>;
McSidStreamidSecurityConfigDla1wra = <0x00010001>;
McSidStreamidSecurityConfigDla1falwrb = <0x00010001>;
McSidStreamidSecurityConfigPva0rda = <0x00010001>;
McSidStreamidSecurityConfigPva0rdb = <0x00010001>;
McSidStreamidSecurityConfigPva0rdc = <0x00010001>;
McSidStreamidSecurityConfigPva0wra = <0x00010001>;
McSidStreamidSecurityConfigPva0wrb = <0x00010001>;
McSidStreamidSecurityConfigPva0wrc = <0x00010001>;
McSidStreamidSecurityConfigRcer = <0x00010001>;
McSidStreamidSecurityConfigRcew = <0x00010001>;
McSidStreamidSecurityConfigRcedmar = <0x00010001>;
McSidStreamidSecurityConfigRcedmaw = <0x00010001>;
McSidStreamidSecurityConfigPcie0r = <0x00010101>;
McSidStreamidOverrideConfigPcie0r = <0x00000012>;
McSidStreamidSecurityConfigPcie0w = <0x00010101>;
McSidStreamidOverrideConfigPcie0w = <0x00000012>;
McSidStreamidSecurityConfigPcie1r = <0x00010101>;
McSidStreamidOverrideConfigPcie1r = <0x00000005>;
McSidStreamidSecurityConfigPcie1w = <0x00010101>;
McSidStreamidOverrideConfigPcie1w = <0x00000005>;
McSidStreamidSecurityConfigPcie2ar = <0x00010101>;
McSidStreamidOverrideConfigPcie2ar = <0x00000006>;
McSidStreamidSecurityConfigPcie2aw = <0x00010101>;
McSidStreamidOverrideConfigPcie2aw = <0x00000006>;
McSidStreamidSecurityConfigPcie3r = <0x00010101>;
McSidStreamidOverrideConfigPcie3r = <0x00000007>;
McSidStreamidSecurityConfigPcie3w = <0x00010101>;
McSidStreamidOverrideConfigPcie3w = <0x00000007>;
McSidStreamidSecurityConfigPcie4r = <0x00010101>;
McSidStreamidOverrideConfigPcie4r = <0x00000013>;
McSidStreamidSecurityConfigPcie4w = <0x00010101>;
McSidStreamidOverrideConfigPcie4w = <0x00000013>;
McSidStreamidSecurityConfigPcie5r = <0x00010101>;
McSidStreamidOverrideConfigPcie5r = <0x00000014>;
McSidStreamidSecurityConfigPcie5w = <0x00010101>;
McSidStreamidOverrideConfigPcie5w = <0x00000014>;
McSidStreamidSecurityConfigIspfalw = <0x00010001>;
McSidStreamidSecurityConfigDla0rda1 = <0x00010001>;
McSidStreamidSecurityConfigDla1rda1 = <0x00010001>;
McSidStreamidSecurityConfigPva0rda1 = <0x00010001>;
McSidStreamidSecurityConfigPva0rdb1 = <0x00010001>;
McSidStreamidSecurityConfigPcie5r1 = <0x00010101>;
McSidStreamidOverrideConfigPcie5r1 = <0x00000014>;
McSidStreamidSecurityConfigNvencsrd1 = <0x00010001>;
McSidStreamidSecurityConfigIspra1 = <0x00010001>;
McSidStreamidSecurityConfigMiu5r = <0x00010001>;
McSidStreamidSecurityConfigMiu5w = <0x00010001>;
McSidStreamidSecurityConfigMiu6r = <0x00010001>;
McSidStreamidSecurityConfigMiu6w = <0x00010001>;
McSidStreamidSecurityConfigMiu14r = <0x00010001>;
McSidStreamidSecurityConfigMiu14w = <0x00010001>;
McSidStreamidSecurityConfigFsi_dbb0r = <0x00010001>;
McSidStreamidSecurityConfigFsi_dbb0w = <0x00010001>;
McSidStreamidSecurityConfigFsi_dbb1r = <0x00010001>;
McSidStreamidSecurityConfigFsi_dbb1w = <0x00010001>;
McSidStreamidSecurityConfigPma0awr = <0x00010101>;
McSidStreamidOverrideConfigPma0awr = <0x00000004>;
McSidStreamidSecurityConfigNvjpg1srd = <0x00010001>;
McSidStreamidSecurityConfigNvjpg1swr = <0x00010001>;
McSidStreamidSecurityConfigMiu15r = <0x00010001>;
McSidStreamidSecurityConfigMiu15w = <0x00010001>;
McSidStreamidSecurityConfigPcie5br = <0x00010001>;
McSidStreamidSecurityConfigPcie5br1 = <0x00010001>;
