// NOTE: This file was auto generated: No manual change must be made in this file

McGeneralizedCarveoutLite42Cfg0 = <0x7fa>;
McGeneralizedCarveoutLite42Cfg1 = <0x0>;
McGeneralizedCarveoutLite42Access0 = <0x0>;
McGeneralizedCarveoutLite42Access1 = <0x0>;
McGeneralizedCarveoutLite42Access2 = <0x300000>;
McGeneralizedCarveoutLite42Access3 = <0xc00>;
McGeneralizedCarveoutLite42Access4 = <0x300>;
McGeneralizedCarveoutLite42Access5 = <0x0>;
McGeneralizedCarveoutLite42Access6 = <0x0>;
McGeneralizedCarveoutLite42Access7 = <0x0>;
McGeneralizedCarveoutLite42Access8 = <0x0>;
McGeneralizedCarveoutLite42Access9 = <0x0>;
