// NOTE: This file was auto generated: No manual change must be made in this file

McGeneralizedCarveout5Cfg0 = <0x2002ffe>;
McGeneralizedCarveout5Cfg1 = <0x0>;
McGeneralizedCarveout5Access0 = <0x0>;
McGeneralizedCarveout5Access1 = <0x0>;
McGeneralizedCarveout5Access2 = <0x400>;
McGeneralizedCarveout5Access3 = <0x0>;
McGeneralizedCarveout5Access4 = <0x0>;
McGeneralizedCarveout5Access5 = <0x0>;
McGeneralizedCarveout5Access6 = <0x0>;
McGeneralizedCarveout5Access7 = <0x0>;
McGeneralizedCarveout5Access8 = <0x0>;
McGeneralizedCarveout5Access9 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout5ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout7Cfg0 = <0x4003ffe>;
McGeneralizedCarveout7Cfg1 = <0x0>;
McGeneralizedCarveout7Access0 = <0x0>;
McGeneralizedCarveout7Access1 = <0x0>;
McGeneralizedCarveout7Access2 = <0x0>;
McGeneralizedCarveout7Access3 = <0xc000000>;
McGeneralizedCarveout7Access4 = <0x0>;
McGeneralizedCarveout7Access5 = <0x0>;
McGeneralizedCarveout7Access6 = <0x0>;
McGeneralizedCarveout7Access7 = <0x0>;
McGeneralizedCarveout7Access8 = <0x0>;
McGeneralizedCarveout7Access9 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout7ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout8Cfg0 = <0x120007fa>;
McGeneralizedCarveout8Cfg1 = <0x0>;
McGeneralizedCarveout8Access0 = <0x0>;
McGeneralizedCarveout8Access1 = <0x0>;
McGeneralizedCarveout8Access2 = <0x0>;
McGeneralizedCarveout8Access3 = <0x0>;
McGeneralizedCarveout8Access4 = <0x7800000>;
McGeneralizedCarveout8Access5 = <0x0>;
McGeneralizedCarveout8Access6 = <0x0>;
McGeneralizedCarveout8Access7 = <0x0>;
McGeneralizedCarveout8Access8 = <0x0>;
McGeneralizedCarveout8Access9 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout8ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout9Cfg0 = <0x12000ffa>;
McGeneralizedCarveout9Cfg1 = <0x0>;
McGeneralizedCarveout9Access0 = <0x0>;
McGeneralizedCarveout9Access1 = <0x0>;
McGeneralizedCarveout9Access2 = <0x0>;
McGeneralizedCarveout9Access3 = <0x0>;
McGeneralizedCarveout9Access4 = <0x78000000>;
McGeneralizedCarveout9Access5 = <0x0>;
McGeneralizedCarveout9Access6 = <0x0>;
McGeneralizedCarveout9Access7 = <0x0>;
McGeneralizedCarveout9Access8 = <0x0>;
McGeneralizedCarveout9Access9 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout10Cfg0 = <0x120017fa>;
McGeneralizedCarveout10Cfg1 = <0x0>;
McGeneralizedCarveout10Access0 = <0x200000>;
McGeneralizedCarveout10Access1 = <0x0>;
McGeneralizedCarveout10Access2 = <0x0>;
McGeneralizedCarveout10Access3 = <0xc000000>;
McGeneralizedCarveout10Access4 = <0x80000000>;
McGeneralizedCarveout10Access5 = <0x1>;
McGeneralizedCarveout10Access6 = <0x0>;
McGeneralizedCarveout10Access7 = <0x0>;
McGeneralizedCarveout10Access8 = <0x0>;
McGeneralizedCarveout10Access9 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout10ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout12Cfg0 = <0x20007fa>;
McGeneralizedCarveout12Cfg1 = <0x0>;
McGeneralizedCarveout12Access0 = <0x0>;
McGeneralizedCarveout12Access1 = <0x0>;
McGeneralizedCarveout12Access2 = <0x0>;
McGeneralizedCarveout12Access3 = <0x0>;
McGeneralizedCarveout12Access4 = <0x0>;
McGeneralizedCarveout12Access5 = <0x0>;
McGeneralizedCarveout12Access6 = <0x0>;
McGeneralizedCarveout12Access7 = <0x0>;
McGeneralizedCarveout12Access8 = <0x0>;
McGeneralizedCarveout12Access9 = <0x0>;
McGeneralizedCarveout12ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout12ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout12ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout12ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout12ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout12ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout12ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout12ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout12ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout12ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout15Cfg0 = <0x13803ffa>;
McGeneralizedCarveout15Cfg1 = <0x0>;
McGeneralizedCarveout15Access0 = <0x0>;
McGeneralizedCarveout15Access1 = <0x2000080>;
McGeneralizedCarveout15Access2 = <0x0>;
McGeneralizedCarveout15Access3 = <0x0>;
McGeneralizedCarveout15Access4 = <0x3c>;
McGeneralizedCarveout15Access5 = <0x0>;
McGeneralizedCarveout15Access6 = <0x0>;
McGeneralizedCarveout15Access7 = <0x0>;
McGeneralizedCarveout15Access8 = <0x0>;
McGeneralizedCarveout15Access9 = <0x0>;
McGeneralizedCarveout15ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout15ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout15ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout15ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout15ForceInternalAccess4 = <0x30>;
McGeneralizedCarveout15ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout15ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout15ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout15ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout15ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout17Cfg0 = <0x22000ffa>;
McGeneralizedCarveout17Cfg1 = <0x0>;
McGeneralizedCarveout17Access0 = <0x0>;
McGeneralizedCarveout17Access1 = <0x0>;
McGeneralizedCarveout17Access2 = <0x20>;
McGeneralizedCarveout17Access3 = <0x20000>;
McGeneralizedCarveout17Access4 = <0x0>;
McGeneralizedCarveout17Access5 = <0x10000000>;
McGeneralizedCarveout17Access6 = <0x140000>;
McGeneralizedCarveout17Access7 = <0x0>;
McGeneralizedCarveout17Access8 = <0x0>;
McGeneralizedCarveout17Access9 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout17ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout19Cfg0 = <0x20007fa>;
McGeneralizedCarveout19Cfg1 = <0x0>;
McGeneralizedCarveout19Access0 = <0x0>;
McGeneralizedCarveout19Access1 = <0x0>;
McGeneralizedCarveout19Access2 = <0x0>;
McGeneralizedCarveout19Access3 = <0x0>;
McGeneralizedCarveout19Access4 = <0x0>;
McGeneralizedCarveout19Access5 = <0x0>;
McGeneralizedCarveout19Access6 = <0x0>;
McGeneralizedCarveout19Access7 = <0x0>;
McGeneralizedCarveout19Access8 = <0x0>;
McGeneralizedCarveout19Access9 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout19ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout20Cfg0 = <0x220027fa>;
McGeneralizedCarveout20Cfg1 = <0x0>;
McGeneralizedCarveout20Access0 = <0x0>;
McGeneralizedCarveout20Access1 = <0x0>;
McGeneralizedCarveout20Access2 = <0x0>;
McGeneralizedCarveout20Access3 = <0xc00>;
McGeneralizedCarveout20Access4 = <0x300>;
McGeneralizedCarveout20Access5 = <0x0>;
McGeneralizedCarveout20Access6 = <0x0>;
McGeneralizedCarveout20Access7 = <0x0>;
McGeneralizedCarveout20Access8 = <0x0>;
McGeneralizedCarveout20Access9 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout20ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout24Cfg0 = <0x320007fa>;
McGeneralizedCarveout24Cfg1 = <0x0>;
McGeneralizedCarveout24Access0 = <0x0>;
McGeneralizedCarveout24Access1 = <0x0>;
McGeneralizedCarveout24Access2 = <0xb0>;
McGeneralizedCarveout24Access3 = <0x10020000>;
McGeneralizedCarveout24Access4 = <0x0>;
McGeneralizedCarveout24Access5 = <0x30000000>;
McGeneralizedCarveout24Access6 = <0x3c0000>;
McGeneralizedCarveout24Access7 = <0x40010>;
McGeneralizedCarveout24Access8 = <0x0>;
McGeneralizedCarveout24Access9 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout24ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout26Cfg0 = <0x320017fa>;
McGeneralizedCarveout26Cfg1 = <0x0>;
McGeneralizedCarveout26Access0 = <0x0>;
McGeneralizedCarveout26Access1 = <0x200f080>;
McGeneralizedCarveout26Access2 = <0x20>;
McGeneralizedCarveout26Access3 = <0x5c000>;
McGeneralizedCarveout26Access4 = <0x0>;
McGeneralizedCarveout26Access5 = <0xc0000000>;
McGeneralizedCarveout26Access6 = <0x3c0fff>;
McGeneralizedCarveout26Access7 = <0x1e10>;
McGeneralizedCarveout26Access8 = <0x0>;
McGeneralizedCarveout26Access9 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout26ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout28Cfg0 = <0x320027fa>;
McGeneralizedCarveout28Cfg1 = <0x0>;
McGeneralizedCarveout28Access0 = <0x0>;
McGeneralizedCarveout28Access1 = <0x2000080>;
McGeneralizedCarveout28Access2 = <0x0>;
McGeneralizedCarveout28Access3 = <0x0>;
McGeneralizedCarveout28Access4 = <0x0>;
McGeneralizedCarveout28Access5 = <0x0>;
McGeneralizedCarveout28Access6 = <0x0>;
McGeneralizedCarveout28Access7 = <0x0>;
McGeneralizedCarveout28Access8 = <0x0>;
McGeneralizedCarveout28Access9 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout28ForceInternalAccess9 = <0x0>;
McGeneralizedCarveout29Cfg0 = <0x32002ffe>;
McGeneralizedCarveout29Cfg1 = <0x0>;
McGeneralizedCarveout29Access0 = <0x0>;
McGeneralizedCarveout29Access1 = <0x0>;
McGeneralizedCarveout29Access2 = <0x0>;
McGeneralizedCarveout29Access3 = <0x0>;
McGeneralizedCarveout29Access4 = <0x0>;
McGeneralizedCarveout29Access5 = <0x0>;
McGeneralizedCarveout29Access6 = <0x0>;
McGeneralizedCarveout29Access7 = <0x0>;
McGeneralizedCarveout29Access8 = <0xf000000>;
McGeneralizedCarveout29Access9 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout29ForceInternalAccess9 = <0x0>;
McGeneralizedCarveoutLite33Cfg0 = <0x818007fa>;
McGeneralizedCarveoutLite33Cfg1 = <0x0>;
McGeneralizedCarveoutLite33Access0 = <0x0>;
McGeneralizedCarveoutLite33Access1 = <0x2180080>;
McGeneralizedCarveoutLite33Access2 = <0x0>;
McGeneralizedCarveoutLite33Access3 = <0x0>;
McGeneralizedCarveoutLite33Access4 = <0x0>;
McGeneralizedCarveoutLite33Access5 = <0x0>;
McGeneralizedCarveoutLite33Access6 = <0x0>;
McGeneralizedCarveoutLite33Access7 = <0x0>;
McGeneralizedCarveoutLite33Access8 = <0x0>;
McGeneralizedCarveoutLite33Access9 = <0x0>;
McGeneralizedCarveoutLite34Cfg0 = <0x7fa>;
McGeneralizedCarveoutLite34Cfg1 = <0x0>;
McGeneralizedCarveoutLite34Access0 = <0x0>;
McGeneralizedCarveoutLite34Access1 = <0x2000080>;
McGeneralizedCarveoutLite34Access2 = <0x0>;
McGeneralizedCarveoutLite34Access3 = <0x0>;
McGeneralizedCarveoutLite34Access4 = <0x18000000>;
McGeneralizedCarveoutLite34Access5 = <0x0>;
McGeneralizedCarveoutLite34Access6 = <0x0>;
McGeneralizedCarveoutLite34Access7 = <0x0>;
McGeneralizedCarveoutLite34Access8 = <0x0>;
McGeneralizedCarveoutLite34Access9 = <0x0>;
McGeneralizedCarveoutLite35Cfg0 = <0x7fa>;
McGeneralizedCarveoutLite35Cfg1 = <0x0>;
McGeneralizedCarveoutLite35Access0 = <0x0>;
McGeneralizedCarveoutLite35Access1 = <0x0>;
McGeneralizedCarveoutLite35Access2 = <0x0>;
McGeneralizedCarveoutLite35Access3 = <0x0>;
McGeneralizedCarveoutLite35Access4 = <0x0>;
McGeneralizedCarveoutLite35Access5 = <0x0>;
McGeneralizedCarveoutLite35Access6 = <0x0>;
McGeneralizedCarveoutLite35Access7 = <0x0>;
McGeneralizedCarveoutLite35Access8 = <0x0>;
McGeneralizedCarveoutLite35Access9 = <0x0>;
McGeneralizedCarveoutLite36Cfg0 = <0x7fa>;
McGeneralizedCarveoutLite36Cfg1 = <0x0>;
McGeneralizedCarveoutLite36Access0 = <0x3b787fff>;
McGeneralizedCarveoutLite36Access1 = <0xfe3dff9b>;
McGeneralizedCarveoutLite36Access2 = <0xff703f71>;
McGeneralizedCarveoutLite36Access3 = <0xdfffffbb>;
McGeneralizedCarveoutLite36Access4 = <0xfffff33f>;
McGeneralizedCarveoutLite36Access5 = <0xf57fc3c7>;
McGeneralizedCarveoutLite36Access6 = <0xff3c0fff>;
McGeneralizedCarveoutLite36Access7 = <0xf1f59ebf>;
McGeneralizedCarveoutLite36Access8 = <0xf0c0003>;
McGeneralizedCarveoutLite36Access9 = <0x30dc>;
McGeneralizedCarveoutLite37Cfg0 = <0x7fa>;
McGeneralizedCarveoutLite37Cfg1 = <0x0>;
McGeneralizedCarveoutLite37Access0 = <0x10607fff>;
McGeneralizedCarveoutLite37Access1 = <0xfe3dff80>;
McGeneralizedCarveoutLite37Access2 = <0xff703f71>;
McGeneralizedCarveoutLite37Access3 = <0xdfffffbb>;
McGeneralizedCarveoutLite37Access4 = <0xfffff33f>;
McGeneralizedCarveoutLite37Access5 = <0xf03fc3c7>;
McGeneralizedCarveoutLite37Access6 = <0xff3c0fff>;
McGeneralizedCarveoutLite37Access7 = <0xf0059e1f>;
McGeneralizedCarveoutLite37Access8 = <0xf0c0003>;
McGeneralizedCarveoutLite37Access9 = <0x30dc>;
McGeneralizedCarveoutLite38Cfg0 = <0x7fa>;
McGeneralizedCarveoutLite38Cfg1 = <0x2>;
McGeneralizedCarveoutLite38Access0 = <0x7ff87fff>;
McGeneralizedCarveoutLite38Access1 = <0xfe3dffbf>;
McGeneralizedCarveoutLite38Access2 = <0xff703ff1>;
McGeneralizedCarveoutLite38Access3 = <0xdfffffbb>;
McGeneralizedCarveoutLite38Access4 = <0xfffff33f>;
McGeneralizedCarveoutLite38Access5 = <0xffffc3c7>;
McGeneralizedCarveoutLite38Access6 = <0xff3c0fff>;
McGeneralizedCarveoutLite38Access7 = <0xf1f59fff>;
McGeneralizedCarveoutLite38Access8 = <0xf0c0003>;
McGeneralizedCarveoutLite38Access9 = <0x30dc>;
McGeneralizedCarveoutLite39Cfg0 = <0x7fa>;
McGeneralizedCarveoutLite39Cfg1 = <0x0>;
McGeneralizedCarveoutLite39Access0 = <0x1>;
McGeneralizedCarveoutLite39Access1 = <0x2000080>;
McGeneralizedCarveoutLite39Access2 = <0x0>;
McGeneralizedCarveoutLite39Access3 = <0x0>;
McGeneralizedCarveoutLite39Access4 = <0x0>;
McGeneralizedCarveoutLite39Access5 = <0x0>;
McGeneralizedCarveoutLite39Access6 = <0x0>;
McGeneralizedCarveoutLite39Access7 = <0x0>;
McGeneralizedCarveoutLite39Access8 = <0x0>;
McGeneralizedCarveoutLite39Access9 = <0x0>;
McGeneralizedCarveoutLite41Cfg0 = <0x7fa>;
McGeneralizedCarveoutLite41Cfg1 = <0x2>;
McGeneralizedCarveoutLite41Access0 = <0x0>;
McGeneralizedCarveoutLite41Access1 = <0x2000080>;
McGeneralizedCarveoutLite41Access2 = <0x0>;
McGeneralizedCarveoutLite41Access3 = <0x0>;
McGeneralizedCarveoutLite41Access4 = <0x0>;
McGeneralizedCarveoutLite41Access5 = <0x0>;
McGeneralizedCarveoutLite41Access6 = <0x0>;
McGeneralizedCarveoutLite41Access7 = <0x0>;
McGeneralizedCarveoutLite41Access8 = <0xf000000>;
McGeneralizedCarveoutLite41Access9 = <0x0>;
McVideoProtectGpuOverride0 = <0x1>;
McVideoProtectGpuOverride1 = <0x0>;
McVideoProtectWriteAccess = <0x1>;
McVideoProtectVprOverride = <0x201803c6>;
McVideoProtectVprOverride1 = <0xb9ee11c1>;
McVideoProtectVprOverride2 = <0xe6fbce77>;
McVideoProtectVprOverride3 = <0x2033ff>;
McVideoProtectVprOverride4 = <0x60021e>;
