// NOTE: This file was auto generated: No manual change must be made in this file

McGeneralizedCarveout9Cfg0 = <0x12000ffa>;
McGeneralizedCarveout9Cfg1 = <0x0>;
McGeneralizedCarveout9Access0 = <0x0>;
McGeneralizedCarveout9Access1 = <0x0>;
McGeneralizedCarveout9Access2 = <0x0>;
McGeneralizedCarveout9Access3 = <0x0>;
McGeneralizedCarveout9Access4 = <0x78000000>;
McGeneralizedCarveout9Access5 = <0x0>;
McGeneralizedCarveout9Access6 = <0x0>;
McGeneralizedCarveout9Access7 = <0x0>;
McGeneralizedCarveout9Access8 = <0x0>;
McGeneralizedCarveout9Access9 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess0 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess1 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess2 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess3 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess4 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess5 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess6 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess7 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess8 = <0x0>;
McGeneralizedCarveout9ForceInternalAccess9 = <0x0>;
McGeneralizedCarveoutLite34Cfg0 = <0x7fa>;
McGeneralizedCarveoutLite34Cfg1 = <0x0>;
McGeneralizedCarveoutLite34Access0 = <0x0>;
McGeneralizedCarveoutLite34Access1 = <0x2000080>;
McGeneralizedCarveoutLite34Access2 = <0x0>;
McGeneralizedCarveoutLite34Access3 = <0x0>;
McGeneralizedCarveoutLite34Access4 = <0x18000000>;
McGeneralizedCarveoutLite34Access5 = <0x0>;
McGeneralizedCarveoutLite34Access6 = <0x0>;
McGeneralizedCarveoutLite34Access7 = <0x0>;
McGeneralizedCarveoutLite34Access8 = <0x0>;
McGeneralizedCarveoutLite34Access9 = <0x0>;
McGeneralizedCarveoutLite42Cfg0 = <0x7fa>;
McGeneralizedCarveoutLite42Cfg1 = <0x0>;
McGeneralizedCarveoutLite42Access0 = <0x0>;
McGeneralizedCarveoutLite42Access1 = <0x0>;
McGeneralizedCarveoutLite42Access2 = <0x300000>;
McGeneralizedCarveoutLite42Access3 = <0xc00>;
McGeneralizedCarveoutLite42Access4 = <0x300>;
McGeneralizedCarveoutLite42Access5 = <0x0>;
McGeneralizedCarveoutLite42Access6 = <0x0>;
McGeneralizedCarveoutLite42Access7 = <0x0>;
McGeneralizedCarveoutLite42Access8 = <0x0>;
McGeneralizedCarveoutLite42Access9 = <0x0>;
