/*
 * Copyright (c) 2022, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

/ {
	fixed-regulators {
		p3768_vdd_5v_sys: regulator@100 {
			/* Enable is automatic with DC_IN */
			compatible = "regulator-fixed";
			reg = <100>;
			regulator-name = "vdd-5v-sys";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
		};
		hdr40_vdd_3v3: p3768_vdd_3v3_sys: regulator@101 {
			/* BUCK_3V3_EN enable is driven by button MCU */
			compatible = "regulator-fixed";
			reg = <101>;
			regulator-name = "vdd-3v3-sys";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
		p3768_vdd_1v8: regulator@102 {
			/*
			 * BUCK_3V3_PG enable is driven by p3768_vdd_3v3_sys
			 * which is power good from that regulator.
			 */
			compatible = "regulator-fixed";
			reg = <102>;
			regulator-name = "vdd-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			vin-supply = <&p3768_vdd_3v3_sys>;
			regulator-always-on;
		};
		p3768_vdd_3v3_AO: regulator@103 {
			/* BUCK_5V_PG enable is driven by p3768_vdd_5v_sys */
			compatible = "regulator-fixed";
			reg = <103>;
			regulator-name = "vdd-3v3-AO";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			vin-supply = <&p3768_vdd_5v_sys>;
			regulator-always-on;
		};
		p3768_vdd_av10_hub: regulator@104 {
			/* BUCK_3V3_PG enable is driven p3768_vdd_3v3_sys */
			compatible = "regulator-fixed";
			reg = <104>;
			regulator-name = "vdd-av10-hub";
			regulator-min-microvolt = <1100000>;
			regulator-max-microvolt = <1100000>;
			vin-supply = <&p3768_vdd_5v_sys>;
			regulator-always-on;
		};
		p3768_vdd_vbus_a: regulator@105 {
			/* HUB_DSP12_PWR_EN enable is driven usb hub's gpio */
			compatible = "regulator-fixed";
			reg = <105>;
			regulator-name = "vdd-vbus-a";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&p3768_vdd_5v_sys>;
			regulator-always-on;
		};
		p3768_vdd_vbus_b: regulator@106 {
			/* HUB_DSP34_PWR_EN enable is driven usb hub's gpio */
			compatible = "regulator-fixed";
			reg = <106>;
			regulator-name = "vdd-vbus-b";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&p3768_vdd_5v_sys>;
			regulator-always-on;
		};
		p3768_vdd_3v3_dp: regulator@107 {
			/* BUCK_3V3_PG enable is driven 3v3_sys */
			compatible = "regulator-fixed";
			reg = <107>;
			regulator-name = "vdd-3v3-dp";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			vin-supply = <&p3768_vdd_3v3_sys>;
			regulator-always-on;
		};
	};
};
