Source: avt-nvidia-l4t-bootloader
Maintainer: Allied Vision Technologies GmbH

Package: avt-nvidia-l4t-bootloader
Architecture: arm64
Pre-Depends: nvidia-l4t-core (>> 35.3-0), nvidia-l4t-core (<< 35.4-0)
Depends: nvidia-l4t-tools (>> 35.3-0), nvidia-l4t-tools (<< 35.4-0), nvidia-l4t-init (>> 35.3-0), nvidia-l4t-init (<< 35.4-0)
Conflicts: nvidia-l4t-bootloader (<< 35.4-0)
Section: bootloader
Priority: standard
Homepage: http://developer.nvidia.com/jetson
Description: NVIDIA Bootloader Package with Allied Vision ALVIUM CSI Drivers
